{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h3 class="section-title mb10 ml10 showbold">Business Categories Results | 99Nearme</h3>
                <div class="col-md-8 col-sm-12 col-xs-12">
                      <div class="row">
                          <div class="col-md-12 well">
                              <div class="categories-list">
                                <ul>
                                  {{#if businesscategories}}
                                  {{#each businesscategories}}
                                  <li class="showbold">
                                    <a href="/best/{{slug}}/1">
                                      <i class="fa fa-arrow-circle-right"></i>
                                      {{_id}} <span class="category-counter">({{count}})</span>
                                    </a>
                                  </li>
                                  {{/each}}
                                  {{else}}
                                  <li>
                                    <h3 class="extra-subheading">No Categories Found ...</h3>
                                    <a class="btn btn-danger animated infinite pulse" href="/"><span class="fa fa-home"></span> Let's get back to Home Page.</a>
                    
                                  </li>
                                  {{/if}}
                                </ul>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <nav aria-label="...">
                              <ul class="pagination">
                                
                                {{#forpagination dataobj.pagecode dataobj.pageno dataobj.urlforpagination dataobj.pagelow dataobj.pageup 1}}
                                {{this}}
                                {{/forpagination}}

                              </ul>
                            </nav>
                          </div>
                        </div>

                        {{> responsivead}}

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{!-- {{> counter}} --}}
  {{> footer}}